<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <TITLE>TO home</TITLE>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Montserrat:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts.css"/>    
    <link rel="stylesheet" href="style.css" />
</head>


<header class="header">
    <div class="header__top">



        <div class="container">
            <div class="header__contacts">
            <a  class="header__phone"href="tel:79771726523">+7(977)172-65-23</a>
            <a class="header__email"href="#">Shandulaev1@gmail.com</a>
            <a class="header__btn"href="#">Log in</a>
        </div>
        </div>

    </div>
    <div class="header__content">
        <div class="container">
            <div class="header__content-inner">
            <div class="header__logo">
               
                <a href="#">
                    <img src="img/logo.png" alt="">
                </a>
                <a href="#">
                    <img src="img/logo1.png" alt="">
                </a>
                <a href="#">
                    <img src="img/logo2.png" alt="">
                </a>

            </div>

            <nav class="menu">
                <ul>
                    <li> <a href="#">Home</a></li>
                    <li> <a href="#">About</a></li>
                    <li> <a href="#">Menu</a></li>
                    <li> <a href="#">Channel</a></li>



                </ul>
            </nav>
        </div>
    </div>
</div>
</header>
</p>
</body>
</html>