
Обнуление
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* ---------------------- */


box-sizing:border-box 
.conteainer{
	max-width: 1170px;
    margin:0 auto;
    padding:0 15px;
}
body{
	font-family: 'Jacques Francois Shadow', cursive;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #5e5e5e;
	background-color:black
	}
	
	header{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
.header__top{
	text-align: left;
	background-color:rgb(117, 4, 4);
	font-size: 15px;

}
.header__btn{
	float: right;
	line-height: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #1b1b1b;
	background-color: blanchedalmond;
	padding: 5px 20px 4px 50px;
	font-size: 17px;
}
.header__btn:after{
	content: ;
	clear: both;
	display: ;

}
.header__phone,
.header__email{
color:#cbcacb;
letter-spacing: 0.25px;
line-height: 45px;
font-size: 16;
}
.header__phone{
	padding-left: 20px;
	padding-right: 30px;
}
.header__phone:before{
	font font-family: icomoon ;
	

}
.header__email{
	padding-left: 24;
}
.header__content{
	padding: 34px 0px 23px;
	text-align: center;
} 

.header__content-inner{
	display:flex;
	justify-content: space-between;
	text-align: center;
}
.menu li{
	display: inline-block;
	text-align: center;
}


.menu a{
	color: #ebebeb;
	font-size: 25px;
	line-height: 36px;
	padding: 0px 16px;
	border:1px solid transparent;
	transition: all.3s;
	text-align: center;
}

.menu a:hover{
	border-color: #771313;
	text-align: center;
}

.menu li+li{
	padding-left: 10px;
}
