<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="chat.css">
    <link rel="stylesheet" href="icons/css/all.css">
</head>
<body>  
    <div class="container">
        <div class="chats">
            <div class="chats__header">
                <div class="menu__container">
                    <div class="menu__before"></div>
                    <div class="menu"></div>
                    <div class="menu__after"></div>
                </div>
                <input type="text" placeholder="Поиск">
            </div>
            
            <div class="chats__item" chat-id="1">
                <div class="name">Test Chat 1</div>
                <div class="last-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="logo"></div>
            </div>    
            <div class="chats__item" chat-id="2">
                <div class="name">Test Chat 2</div>
                <div class="last-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="logo"></div>
            </div>
        </div>
        
        <div class="drop-menu disabled">
                <div class="drop-menu__header">
                    <div class="drop-menu__logo"></div>
                    <div class="drop-menu__info">
                    <div class="drop-menu__name">LYAGUSHKA</div>
                    <div class="drop-menu__tel">8989 898 99 99</div>
                    </div>
                </div>
                
                <div class="submenu">
                    <div class="submenu__item">Создать группу </div>
                    <div class="submenu__item">Создать канал</div>
                    <div class="submenu__item">Звонки</div>
                    <div class="submenu__item">Контакты</div>
                    <div class="submenu__item"></div>
                    <div class="submenu__item"></div>
                </div>
            
        </div>
        
        <div class="chatbox">
           <div class="chatbox__header">
                <div class="chat-info">
                   <div class="name">Group</div>
                   <div class="count-parts">4 участника</div>
                </div>      
           </div>
           
           <div class="log-above">
               <div id="log">
                     <div class="msg-in">
                     <span>Уже знаете HTML, CSS и JavaScript? Освойте короткое руководство — и вперёд! Разносторонний
                     Постепенно внедряемая экосистема, которая масштабируется из библиотеки в полнофункциональный фреймворк.</span>
                     </div>
                     <div class="msg-out">
                     <span>Уже знаете HTML, CSS и JavaScript? Освойте короткое руководство — и вперёд! Разносторонний
                     Постепенно внедряемая экосистема, которая масштабируется из библиотеки в полнофункциональный фреймворк.</span>
                     </div>
               </div>
           </div>
           <form class="chatbox__form" id="form">
               <button>send</button>
               <input id="msg" type="text" placeholder="введите сообщение...">
           </form>
            
        </div>
    </div>
    
<script src="chat.js"></script>
</body>
</html>