body {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      color: #333;
      line-height: 1.6;
      margin: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1, h2,h3, h4, h5, h6 {
margin: 0;
}


.container {
    display: flex;
    height: 100vh;
}

.chats {
    background-color: black;
    width: 20%;
    max-width: 400px;
    background: #17212b;
}

.chats__header {
    display: flex;
    height: 50px;
    padding: 10px;

}

.menu__container {
    display: flex;
    flex-direction: column;
    cursor: pointer;  
    margin: auto;
}

.menu {
    height: 2px;
    width: 18px;
    background: #6c7883;
    margin: 3px 0 3px 0;
}

.menu__before {
    height: 2px;
    width: 18px;
    background: #6c7883;
}

.menu__after {
    height: 2px;
    width: 18px;
    background: #6c7883;
}

.chats__header input {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #242f3d;
    margin-left: 10px;
}

.chatbox {
    display: flex;
    flex-direction: column;
    background-color: #32CD32;
    width: 80%;
    /* max-width: 900px; */
    position: relative;
}

.chats__search {
    width: 100%;
    padding: 10px;
}

.chats__search input {
    width: 100%;
}

.chats__item {
    width: 100%;
    height: 55px;
    padding: 5px 10px 10px 60px;
    cursor: pointer;
    color: white;
    position: relative;
    transition: 0.2s linear;
}

.chats__item:hover {
    background: #202b36; 
}

.chats__list {
    background: #17212b;
}


.last-msg {
    color: grey;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.logo {
    width: 45px;
    background-color: grey;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
}

.chatbox__header {
    display: flex;
    color: white;
    padding: 10px;
    height: 50px;
    line-height: 1.2;
    background: #17212b;
    border: 1px solid #101921;
    border-top: none;
}

.chatbox__header input {
    height: 20px;
    width: 300px;
    margin: auto;
}

.chatbox__form {
    height: 45px;
    display: flex;
    padding: 5px;
    background: #17212b;
    border-left: 1px solid #101921;
}

.chatbox__form button {
    margin-right: 5px;
}

.chatbox__form input {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #17212b;
}

.log-above {
    overflow-y: scroll;
    height: 100vh;
    background: #0e1621;
    border: 1px solid #0a121b;
}

#log {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 10px;
    min-height: calc(100vh - 100px);
    color: white;
    
}

#log div {
    width: 40%;
    max-width: 500px;
    background: grey;
    margin-bottom: 5px;
    border-radius: 10px;
}

#log span {
    display: block;
    padding:5px 10px;
}

.msg-out {
    text-align: end;
    margin-left: auto;
    margin-right: 40px;
}

.msg-in {
    margin-left: 40px;
}


.disabled {
    display: none;
}


.drop-menu {
    background-color: black;
    width: 20%;
    max-width: 400px;
    background: #17212b;
    height: 100vh;
    color: white;
}

.drop-menu__header {
    width: 275px;
    height: 135px;
    padding: 20px 17px 18px 24px;
    background: #276899;
    position: relative;
}

.drop-menu__logo {
    width: 50px; 
    height: 50px;
    background: grey;
    border-radius: 50%;
}

.drop-menu__info {
    line-height: 1.2;
    font-size: 13px;
    position: absolute;
    bottom: 18px;
    left: 24px;
}
